<!doctype html>
<html lang="en">
<head>
<meta charset = "utf-8">
<
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }} " />
<script src="{{ url_for('static',filename='web1.js') }}"></script>
<!--     
<link rel="stylesheet" type="text/css" href="style.css" />
<script src="web1.js"></script>
-->

<title>TwiReput</title>

</head>
<body>

<div id="maindiv">

	
		
		<div id="header">
		TwiReput
		</div>
	
		<div id="menu">
			 <div id="p1" class = "q">Rate Me<div id="i1" class = "indiv">Get your Twitte score</div></div>
			 <div id="p2" class = "q">How<div id="i2" class = "indiv">How we calculate the score</div></div>
			 <div id="p3" class = "q">About<div id="i3" class = "indiv">About us</div></div>	
		 </div>
		 


	<div id="section">
	
	</div>
	
	<div id="section2">
		

		<div id="namediv">
			<div id="imageurl"><img src="{{ url }}" alt="none" width="150px" height="150px" /></div>
			<div id="name" style="font-size:30px;">{{ namee }}<br /><form action="{{ url_for('logout') }}" method="post"><button type="submit" id="login">Logout</button><form></div>
			<div id="scorediv" >Your Score is:<br /> {{ score }}</div>
			
		</div>
		
		
		<div id = "lowerDiv">
			<div></div>	
			<div id="lowerDiv" class="vert1">
				<p style="font-size:28px;">General Statistics:</p>
				<div id="namediv1">Followers: {{ follower }}</div>
				<div id="namediv1">Tweets: {{ tweet }}</div>
				<div id="namediv1">Retweets: {{ retweet }}</div>
			</div>
						
			<div id="lowerDiv" class="vert2">
				<p style="font-size:28px;">People You have influenced recently:</p>	
				<div id="namediv1">
					<div id="imageurl"><img src="{{ url1 }}" width="70px" height="70px" alt="  " /></div>
					<div id="name" style="font-size:20px;">{{ infl1 }}</div>
				</div>
				<div id="namediv1">
					<div id="imageurl"><img src="{{ url2 }}" width="70px" height="70px" alt="  " /></div>
					<div id="name" style="font-size:20px;">{{ infl2 }}</div>
				</div>
				<div id="namediv1">
					<div id="imageurl"><img src="{{ url3 }}" width="70px" height="70px" alt="  "/></div>
					<div id="name" style="font-size:20px;">{{ infl3 }}</div>
				</div>
						
			</div>
		</div>	
		
	</div>

</div>
</body>
</html>
